@import "../../style/bootstrap/scss/bootstrap-grid-custom";
@import "../../style/config";


$logoHeight: 50px;


.hidden { display: none }
.hiddenXs { @include hidden-xs; }
.hiddenSm { @include hidden-sm; }
.hiddenMd { @include hidden-md; }
.hiddenLg { @include hidden-lg; }
.hiddenXl { @include hidden-xl; }


.fixedMenuC {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  padding: 0;
  background: $myPink;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  z-index: 50;
}

.menu {
  position: relative;
  margin: 0 auto;
  width: 100%;
  max-width: map-get($grid-breakpoints, xl);

  .dropMenu {
    clear: both;
    position: relative;
    padding-top: 0;
    background: $myPinkRgba;
    height:auto;

    &.show{
      margin-top: 0;
      border-top: 1px solid $whiteE;
    }
  }
}


.logoC {
  float: left;
  margin: 0;
  padding: 0 15px 0 15px;

  img {
    height: auto;
  }
}

.menu > nav {
  float: right;
  font-size: 16px;
  padding-left: 0;

  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  align-items: center;
}

.menu > nav a {
  //display: inline-block;
  text-align: center;
  background: transparent;
  text-decoration: none;
  will-change: background-color;

  color: $whiteE;
  font-size: 1rem;
  font-weight: 200; // Proxima Nova Light

  // To listen click event
  span.itemInner {
    display: inline-block;
    height: 56px;
    line-height: 56px;
    min-width: 50px;

    span {
      line-height: 1rem;
      border-bottom-color: transparent;
      transition: font-weight 0.3s, border-bottom-color 0.5s;
    }
  }
}

.menu > nav > a:first-of-type {
  font-weight: 900; // Proxima Nova Bold
}

.menu > nav a:hover,
.menu > nav a:active {
  // Move to responsive
  span {

  }
}

.menu > nav a.active {
  span.itemInner{
    font-weight: 900; // Proxima Nova Bold
  }
}

// Icon
//.menu a i {
//  font-family: Arial, sans-serif;
//
//  font-weight: normal;
//  padding-left: 10px;
//}

.btnNavbar{
  cursor: pointer;
  display: block;
  margin: 8px 10px 0 0;
  padding: 0;

  &:hover{
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.2);
  }

  .iconBar {
    display: block;
    width: 18px;
    height: 2px;
    margin: 5px auto 0;
    background-color: $whiteE;
  }

  &.btnNavbar__Sm{
    display: inline-block;

  }
}


.dropMenu > .dropMenuInner {
  background: inherit;
  transition: height 0.5s;
  overflow: hidden;
  height: 0;

  a span.itemInner{
    display: block;
  }
}

.dropMenu.show > .dropMenuInner {
  height: auto;
}

.dropMenuXs {
  border: none;
}

.dropMenuSm {
  border: none;
}


// For xs screen, no @media query
@include media-breakpoint-up(xs) {
  .fixedMenuC { height: $headerHeightXs; }
  .menu > nav { padding-top: 8px; }
  .logoC {
    padding-top: 8px;
    padding-left: 6px;
    img { width: 220px; }
  }
  .menu > nav a {
    span.itemInner {
      padding: 0 10px;

      span { padding-bottom: 8px; }
    }
  }

  .dropMenu { width: 100%; }
  .dropMenu a {
    span.itemInner {
      height: 50px!important;
      line-height: 50px!important;
      border-bottom: 1px solid rgb(134, 13, 97);
    }
  }
}

//@media (min-width: 576px)
@include media-breakpoint-up(sm) {
  .btnNavbar{
    margin: -7px 10px 0 0;
    .iconBar{
      border-radius: 4px;
      width: 4px;
      height: 4px;
      margin: 3px auto 0;
    }
  }

  .menu > nav { padding-top: 4px; }
  .menu > nav a{
    span.itemInner { padding: 0 8px; }
  }
  .menu > nav > a:first-of-type {
    font-weight: 200; // Proxima Nova Bold
  }
  .logoC {
    padding-left: 15px;
    img { width: 220px; }
  }
}

//@media (min-width: 768px)
@include media-breakpoint-up(md) {
  .fixedMenuC { height: $headerHeight; }
  .menu > nav { padding-top: 29px; }
  .menu > nav a{
    span.itemInner { padding: 0 22px; }

    &.active{
      span.itemInner {
        font-weight: 200; // Proxima Nova Light
      }
    }
  }
  .menu > nav > a:first-of-type span.itemInner{
    font-weight: 900; // Proxima Nova Bold
  }

  .menu > nav a:hover,
  .menu > nav a:active {
    span.itemInner {
      span { border-bottom: 2px solid darken(rgba(255, 255, 255, 0.6), 20%); }
    }
  }
  .menu > nav a.active {
    span.itemInner {
      span { border-bottom: 2px solid $whiteE; }
    }
  }

  .logoC {
    padding-top: 28px;
    padding-left: 15px;
    img { width: 257px; }
  }

  .menu .dropMenu.show{
    margin-top: 15px;
  }
}

//@media (min-width: 992px)
@include media-breakpoint-up(lg) {
  .menu > nav a {
    span.itemInner {
      span {
        padding-bottom: 8px;
      }
    }
  }

  .dropMenu a {
    span.itemInner {
      height: 56px!important;
      line-height: 56px!important;
      border-bottom: none;
    }
  }
}

//@media (min-width: 1200px)
@include media-breakpoint-up(xl) {
  .menu {
    max-width: 1250px;
  }
}



// For xs screen, no @media query
@include media-breakpoint-up(xs) { }

//@media (min-width: 576px)
@include media-breakpoint-up(sm) { }

//@media (min-width: 768px)
@include media-breakpoint-up(md) { }

//@media (min-width: 992px)
@include media-breakpoint-up(lg) { }

//@media (min-width: 1200px)
@include media-breakpoint-up(xl) { }