$pagePadding: 15px;

$headerHeight: 102px;
$headerHeightXs: 60px;

$pink: #A00F74;
$pinkRgba: rgba(160,15,116, 0.8);
$orange: #FC964F;

$whitePure: #FFF;
$whiteE: #E2E3E4;
$whiteB: #B0B0B0;
$black9: #999999;

$fontFamily: 'Proxima Nova', 'Helvetica Neue', arial, sans-serif;
$fontStyle: normal;
$fontWeight: 200; // Proxima Nova Light
$fontSize: 15px;
$lineHeight: 22px;

$backgroundColor: $whitePure;

@mixin hidden-xs {
  @include media-breakpoint-only(xs) { display: none; }
}
@mixin hidden-sm {
  @include media-breakpoint-only(sm) { display: none; }
}
@mixin hidden-md {
  @include media-breakpoint-only(md) { display: none; }
}
@mixin hidden-lg {
  @include media-breakpoint-only(lg) { display: none; }
}
@mixin hidden-xl {
  @include media-breakpoint-only(xl) { display: none; }
}