
$pink: #A00F74;
$orange: #FC964F;

$whitePure: #FFF;
$whiteE: #E2E3E4;
$whiteB: #B0B0B0;
$black9: #999999;

$fontFamily: 'Proxima Nova', 'Helvetica Neue', arial, sans-serif;
$fontStyle: normal;
$fontWeight: 200; // Proxima Nova Light
$fontSize: 15px;
$lineHeight: 22px;

$backgroundColor: $whitePure;
