@import "../../style/bootstrap/scss/bootstrap-grid-custom";
@import "../../style/config";

.footerC{
  margin-top: 0;
  position: relative;
  width: 100%;
  height: auto;
  padding: 34px 20px 29px;
  color: $whitePure;
  background: $myBlack2;

  border-top: 1px solid rgb(86, 100, 110);

  box-sizing: border-box;
  * { box-sizing: border-box; }
}


.fInner{
  max-width: 1130px;
  margin: 0 auto;
  padding-right: 0;
}

.dropItem {
  margin: 0;
  padding: 0 0 18px 0;
  //padding: 0 0 4px 0;

  border-bottom: 1px solid #666;

  .bar{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;

    p{
      @include myText__fw_fs_lh_c(light, 21px, 25px, $whitePure);

      margin-top: 39px;
    }
    span{
      cursor: pointer;
      margin-top: 25px;
    }
  }
  .content{
    @include myText__fw_fs_lh_c(light, 15px, 24px, $whiteB);

    overflow: hidden;
    transition: height 0.5s, opacity 0.5s;

    // Increase size but must decrease it when collapse
    padding: 0 10px 0 10px;
    text-align: left;
  }
}

.dropItem .content{
  height: auto;
  opacity: 1;

  // Increase size but must decrease it when collapse
  padding-top: 13px;
  padding-bottom: 18px;
  margin-top: 0;
  margin-bottom: 0;

}
.dropItem .content.collapsed{
  height: 0;
  opacity: 0;

  // Increase size but must decrease it when collapse
  margin-top: -13px;
  margin-bottom: -18px;
}

.dropItem .content.being{
  // open --> collapsed
  height: auto;
  opacity: 0;

  // Increase size but must decrease it when collapse
  margin-top: 0;
  margin-bottom: 0;

}
.dropItem .content.being.collapsed{
  // collapsed --> open
  height: auto;
  opacity: 1;
}

.footInfo {
  margin-top: 86px;

  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  text-align: center;

  p{
    @include myText__fw_fs_lh_c(light, 18px, 22px, $whiteB);
    b { @include myText__fw_fs_lh_c(bold, 18px, 22px, $whiteB); }
  }

  .iconList{
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    align-items: flex-start;

    a{ margin-left: 21px; }
  }
}

// Content format for about us
.aboutUs{
  margin: 0; padding: 0;

  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;

  img{ width: 277px; height: 167px;}
  p{
    margin-top: 60px;
    @include myText__fw_fs_lh_c(light, 15px, 26px, $whiteB);
  }
}


.m0{ margin: 0;}



// For xs screen, no @media query
@include media-breakpoint-up(xs) {

}

//@media (min-width: 576px)
@include media-breakpoint-up(sm) {
  .dropItem .content {
    padding-left: 56px;
    padding-right: 42px;
    text-align: justify;
  }
  .footInfo{
    justify-content: space-between;
  }
}

//@media (min-width: 768px)
@include media-breakpoint-up(md) { }

//@media (min-width: 992px)
@include media-breakpoint-up(lg) {
  .aboutUs {justify-content: space-between;}
  .aboutUs p{
    width: 570px;
    margin-top: 15px;
    @include text-ellipsis(5, 15px, 26px, 5px);
  }
}

@media (min-width:992px) and (max-width: 1030px) {
  .aboutUs p{ width: 500px;}
}

//@media (min-width: 1200px)
@include media-breakpoint-up(xl) {
  .fInner{
    padding-right: 78px;
  }
}