@import '../../../style/bootstrap/scss/functions';
@import '../../../style/bootstrap/scss/variables';
@import '../../../style/bootstrap/scss/mixins';
//@import '../../../style/bootstrap/scss/buttons';
@import "../../../style/bootstrap/scss/bootstrap-grid-custom";
@import "../../../style/config";

// Migrate from //@import '../../../style/bootstrap/scss/buttons';
.btn {
  display: inline-block;
  font-weight: $btn-font-weight;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  user-select: none;
  border: $input-btn-border-width solid transparent;
  @include button-size($input-btn-padding-y, $input-btn-padding-x, $font-size-base, $input-btn-line-height, $btn-border-radius);
  @include transition($btn-transition);

  // Share hover and focus styles
  @include hover-focus {
    text-decoration: none;
  }
  &:focus,
  &.focus {
    outline: 0;
    box-shadow: $input-btn-focus-box-shadow;
  }

  // Disabled comes first so active can properly restyle
  &.disabled,
  &:disabled {
    opacity: .65;
    @include box-shadow(none);
  }

  &:not([disabled]):not(.disabled):active,
  &:not([disabled]):not(.disabled).active {
    background-image: none;
    @include box-shadow($input-btn-focus-box-shadow, $btn-active-box-shadow);
  }
}

.btn-danger {
  @include button-variant($danger, $danger);
}

// Overwrite default
.btn-danger {
  //margin: 18px;
  padding: 0;
  width: 200px;
  height: 51px;
  //background: $orange;
  border-radius: 3px;
  font-weight: 900; // Proxima Nova Bold
  font-size: 18px;
  line-height: 52px;
  color: $whitePure;
  text-transform: uppercase;
  text-decoration: none;
  background-color: $myOrange;
  border-color: $myOrange;

  &:hover {
    background-color: #e08349;
    border-color: #e08349;
  }

  &:focus {
    box-shadow: 0 0 0 0.2rem rgba(253, 160, 71, 0.5);
  }
}

.offerC {
  width: 100%;
  text-align: center;

  display: flex;
  justify-content: center;
  flex-flow: column nowrap;

  h3 {
    margin-top: 104px;
    margin-bottom: 12px;

    //font-weight: 900; // Nova Bold
    //font-size: 41px;
    //line-height: 49px;
    //color: $myPink;
    @include myText__fw_fs_lh_c(bold, 41px, 49px, $myPink);
  }
  .subT {
    max-width: 715px;
    margin: 0 auto;

    @include myText__fw_fs_lh_c(regular, 18px, 26px, $myBlack9);
  }
}

.item{
  margin-top: 111px;

  &:first-of-type{
    margin-top: 85px;
  }

  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;

  // Use flex to show the order

  &>div{
    //opacity: 0.8;
  }

  .back{
    z-index: 1;

    width: 100%;
    height: 450px;

    background: white;
  }
  .front{
    z-index: 2;

    width: 100%;
    height: 280px;
    padding: 48px 20px;

    background: $myPink;

    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: center;
    text-align: center;

    box-shadow: 5px 5px 18px 5px rgba(0, 0, 0, 0.2);

    & > h4{
      @include myText__fw_fs_lh_c(bold, 31px, 29px, $whitePure);
      margin: 0;
      padding-top: 6px;
      font-size: 26px;
    }
    & > p{
      @include myText__fw_fs_lh_c(regular, 15px, 25px, $whitePure);

      max-width: 440px;
      margin-top: -27px;
    }
    & > div {
      text-align: left;
    }
  }
}


.viewAll {
  margin-top: 150px;
  text-align: center;
}


$backRatio: 673/450;
$frontRatio: 673/360;

@include media-breakpoint-up(sm) {
  .item{
    .front{
      & > h4{
        font-size: 31px;
      }
    }
  }
}

@include media-breakpoint-up(md) {
  .item{
    .back {
      width: 384px;
      height: 333px;
    }
    .front{
      display: flex;
      flex-flow: column nowrap;
      justify-content: space-between;
      align-items: left;
      text-align: left;

      padding: 48px 30px;
      width: 300px;
      height: 300px;
    }
  }

  // Text left and image right
  .txtToImg {
    flex-direction: row-reverse;
    //.back { margin-left: -18px; }
    //.front { margin-right: -18px; }
  }

  // Image left and text right
  .imgToTxt {
    flex-direction: row;
    //.back { margin-right: -18px; }
    //.front { margin-left: -18px; }
  }
}

@include media-breakpoint-up(lg) {
  .item{
    .back {
      width: 480px;
      height: 480px/$backRatio;
    }
    .front{
      padding: 48px 50px;
      width: 380px;
      height: 280px;
    }
  }

  // Text left and image right
  .txtToImg {
    flex-direction: row-reverse;
    .back { margin-left: -18px; }
    .front { margin-right: -18px; }
  }

  // Image left and text right
  .imgToTxt {
    flex-direction: row;
    .back { margin-right: -18px; }
    .front { margin-left: -18px; }
  }
}
@include media-breakpoint-up(xl) {
  .item{
    .back {
      width: 585px;
      height: 585px/$backRatio;
    }
    .front{
      padding: 48px 78px;
      width: 585px - 2*78px;
      height: 585px/$frontRatio - 2*48px;

      &>p{margin-top: -3px;}
    }
  }
}

@media (min-width: 1360px) {
  .item{
    .back {
      width: 673px;
      height: 450px;
    }
    .front{
      padding: 48px 78px;
      width: 673px - 2*78px;
      height: 360px - 2*48px;

      &>p{margin-top: -3px;}
    }
  }
}